/* style.css */
  
.cardCurso {
    height: 249px;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-bottom: 30px;
  }
  
  .cardHeader {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .cardHeader span {
    background-color: rgba(59, 7, 100, 1);
    height: 56px;  
    width: 5px;
    border-radius: 10px;
    border: 0px, 0px, 0px, 6px;
  }
  
  .cardHeader h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 37.92px;
    color: rgba(244, 244, 245, 1);
    margin-left: 10px;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden; /* Evita que o conteúdo ultrapasse a view */
  }
  
  .cardBody-wrapper {
    overflow: hidden; /* Garante que apenas 4 cards sejam visíveis */
    width: calc(4 * 320px); /* 4 cards, cada um com 300px de largura + 20px de margem */
  }
  
  .cardBody {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden; /* Remove a barra de rolagem */
  }
  
  .cardBody a {
    flex: 0 0 auto;
    scroll-snap-align: start;
    text-decoration: none;
    position: relative;
    width: 300px; /* Largura fixa para os cards */
  }
  
  .cardBody img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
  }
  
  .carousel-button {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .carousel-button.left {
    left: 10px;
  }
  
  .carousel-button.right {
    right: 57px;
  }
  
  .carousel-item.last-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.5));
    pointer-events: none;
  }
  