.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 64px;
    height: 64px;
    margin-left: 20px;
}

.logo p{
    font-weight: 700;
    font-size: 22px;
    color: rgba(244, 244, 245, 1);
    line-height: 28.44px;
}