ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 97px;
    margin-right: 32px;
}

li{
    font-weight: 700;
    font-size: 22px;
    line-height: 28.44px;
}

li a{
    text-decoration: none;
    color: rgba(244, 244, 245, 1);
}